.activity-log {
  position: relative;
  bottom: 23px;
  h1 {
    font-family: gotham;
    font-weight: 400;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #93ebb2;
    span {
      line-height: 1rem;
      font-size: 0.9rem;
      margin-inline-start: 5px;
    }
  }

  .activity-log-container {
    height: calc(100vh - 495px);
    font-family: gotham-light;
    padding: 0 10px 10px;
    border-radius: 8px;
    background-color: $clr3;
    color: $clr2;
    overflow-y: scroll;

    ul {
      transition: 0.5s;
      :first-child {
        margin-top: 5px;
      }
      li {
        font-family: gotham-light;
        color: $clr2;
        align-items: center;
        gap: 5px;
        font-size: rem(14px);
        border-bottom: 1px solid rgb(66, 66, 66);
        margin: 13px 0;
        position: relative;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: whitesmoke;
          // color: #93ebb2;

          background-color: $clr4;
        }
        .activity-info {
          padding-top: 5px;
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 37px;
          margin-bottom: 13px;
          transform: height 0.3s;
          &:hover {
            overflow: visible;
            max-height: unset;
          }
        }
        .activity-user {
          align-self: flex-start;
          margin-inline-start: 5px;
          min-width: 25px;
          height: 25px;

          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }

        .activity-date {
          font-size: rem(10px);
          position: absolute;
          bottom: -5px;
          color: rgb(109, 107, 107);
          background-color: $clr3;
          right: 5px;
          padding: 0 5px;
          z-index: 1;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: $clr3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
