.activity-page {
  position: relative;
  .activity-log {
    display: block;
  }
}

.activity-log {
  position: relative;
  bottom: 23px;
  @include for-mobile-layout {
    display: none;
  }
  h1 {
    font-family: gotham-bold, rubic;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: $clr7;

    @include for-mobile-layout {
      font-family: gotham;
      position: fixed;
      z-index: 6;
    }
    @include for-narrow-layout {
      font-family: gotham;
      color: #93ebb2;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      font-size: 1rem;
      top: -28px;
      background-color: black;
    }

    .unread {
      background-color: red;
      color: white;
      font-size: 0.8rem;
      font-weight: 700;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      border-radius: 50%;
      opacity: 0;
      transition: 0.2s;
      // position: fixed;
      // top: 89.5vh;
      // left: 78px;
      position: absolute;
      bottom: 12px;
      right: -7px;
      &.shown {
        opacity: 1;
      }
      @include for-narrow-layout {
        bottom: 8px;
        right: -1px;
      }
    }
  }

  .activity-log-container {
    height: 100vh;
    font-family: gotham-light;
    padding: 0 10px 10px;
    border-radius: 8px;
    background-color: $clr3;
    color: $clr2;
    overflow-y: scroll;
    @include for-narrow-layout {
      height: calc(100vh - 495px);
    }

    ul {
      transition: 0.5s;
      :first-child {
        margin-top: 5px;
      }
      li {
        font-family: gotham, rubic;
        color: $clr2;
        align-items: center;
        gap: 5px;
        font-size: rem(14px);
        border-bottom: 0.7px solid rgb(66, 66, 66);
        background-color: rgba(66, 66, 66, 0.5);
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        border-radius: 10px;
        min-height: 68px;

        &.read {
          background-color: $clr3;
        }

        @include for-narrow-layout {
          &:hover {
            color: whitesmoke;
            // color: #93ebb2;
            background-color: $clr4;
            .activity-info {
              overflow: visible;
              max-height: unset;
            }
          }
        }
        .activity-info {
          padding-top: 15px;
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 48.5px;
          margin-bottom: 17px;
          transform: height 0.3s;
          .user-name {
            color: lightgreen;
          }
          .red {
            color: rgb(255, 126, 126);
          }
          .green {
            color: lightblue;
          }
        }
        .activity-user {
          margin-top: 13px;
          align-self: flex-start;
          margin-inline-start: 5px;
          min-width: 25px;
          height: 25px;

          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }

        .activity-date {
          font-size: rem(10px);
          position: absolute;
          bottom: -5px;
          color: rgb(109, 107, 107);
          background-color: $clr3;
          right: 12px;
          padding: 0 5px;
          z-index: 1;
          border-radius: 5px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: $clr3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
