.EditHero-container {
  background-color: $bgc2;

  .linear-container {
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.3) 100%);
  }

  .img-edit-container {
    height: rem(250px);
    width: rem(250px);
    background-color: rgb(40, 40, 40);
    position: absolute;
    bottom: rem(40px);
    display: inline-block;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img-awesome {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10px;
      p {
        font-weight: 900;
      }
    }

    .note {
      font-size: rem(80px);
    }

    .pencil {
      font-size: rem(50px);
    }
  }
  .info-container {
    cursor: pointer;
  }
}
