.edit-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: rgb(40, 40, 40);
    padding: 25px;

    .EditInfoHero {
        .img-edit-container {
            width: 200px;
            height: 200px;
            box-shadow: 0 0 4px #000000b5;
        }
    }
}
