.genre-section {
  .GenreList {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px 1fr;
    grid-template-columns: repeat(auto-fit, minmax(140px, 180px));
    gap: 15px;

    @include for-narrow-layout {
      grid-template-rows: 40px 1fr;
      grid-template-columns: repeat(auto-fill, minmax(195px, 200px));
      gap: 15px;
    }

    .header {
      grid-column: 1 / -1;
      font-size: rem(25px);
      padding: 15px 0;
    }
    .GenrePreview {
      .genre-card {
        padding: 20px;
        height: 140px;
        position: relative;
        border-radius: rem(10px);
        overflow: hidden;
        @include for-narrow-layout {
          height: 195px;
        }
        h3 {
          font-size: rem(25px);
          font-family: gotham;
        }
        img {
          box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
          transform: rotate(25deg) translate(18%, 2%);
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center center;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .genre-section {
    .GenreList {
      grid-template-columns: repeat(auto-fit, minmax(120px, 220px));
      .header {
        font-size: rem(16px);
      }
    }
  }
}
