.LibraryList {
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;

  .page-title {
    margin-bottom: 10px;
  }

  .liked-track-container {
    min-width: 300px;
    height: 240px;
    background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
    position: relative;
    padding: 20px;
    transition: transform 0.5s;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.664);

    @include for-wide-layout {
      min-width: 425px;
      height: 280px;
    }
    &:hover {
      cursor: pointer;
      color: $clr7;
    }

    .tracks-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 200px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      p {
        margin: 10px 0;
      }
    }

    .tracks-info {
      position: absolute;
      bottom: 20px;

      > * {
        font-family: gotham-bold;
      }

      h2 {
        margin-bottom: 10px;
        font-size: rem(30px);
      }
    }
  }

  .library-row1 {
    height: 340px;
    padding-top: 30px;
    gap: 25px;

  }

  .station {
    flex: 1;
    padding-top: 30px;
    top: -30px;
    height: 280px;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    &.recently-added {
      overflow-y: hidden;
    }

    @include for-wide-layout {
      height: 330px;
      gap: 25px;

    }
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-auto-rows: 0;
    // grid-template-rows: 1fr;
  }
  .list-title {
    position: absolute;
    z-index: 2;
    top: 5px;
  }
}
