.LibraryList {
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;

  .page-title {
    margin-bottom: 10px;
  }

  .liked-track-container {
    width: 80%;
    height: 180px;
    background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
    position: relative;
    padding: 10px;
    color: $clr7;
    @include for-mobile-layout {
      margin-bottom: 50px;
    }
    @include for-narrow-layout {
      margin-bottom: 30px;
      transition: transform 0.5s;
      padding: 20px;
      max-width: 380px;
      // max-width: unset;
      height: 240px;
      color: rgba(255, 255, 255, 0.664);
      &:hover {
        cursor: pointer;
        color: $clr7;
      }
    }
    @include for-wide-layout {
      max-width: 425px;
      height: 280px;
    }

    .tracks-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 200px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      @include for-mobile-layout {
        line-height: 14px;
        font-family: gotham, rubic;
        font-size: rem(14px);
      }

      p {
        margin: 10px 0;
      }
    }

    .tracks-info {
      position: absolute;
      bottom: 10px;

      @include for-narrow-layout {
        bottom: 20px;
      }

      > * {
        font-family: gotham-bold, rubic;
      }

      h2 {
        @include for-narrow-layout {
          margin-bottom: 10px;
          font-size: rem(30px);
        }
      }
    }
  }

  .library-row1 {
    padding-top: 30px;
    gap: 20px;
    height: 450px;
    flex-wrap: wrap;
    @include for-mobile-layout {
      margin-bottom: 60px;

      justify-content: center;
    }
    @include for-narrow-layout {
      gap: 25px;
      height: 340px;
    }
  }

  .station {
    padding-top: 50px;
    top: -30px;
    height: 220px;
    gap: 20px;
    flex-wrap: wrap;

    &.recently-added {
      padding-top: 30px;
      overflow-y: hidden;
      @include for-mobile-layout {
        margin-top: 20px;
        gap: 15px;
        min-width: 200px;
      }
    }

    &.created-by {
      @include for-mobile-layout {
        height: unset;
      }
    }

    @include for-mobile-layout {
      justify-content: center;
    }

    @include for-narrow-layout {
      flex: 1;
      margin-bottom: 30px;
      padding-top: 40px;
      height: 280px;
    }

    @include for-wide-layout {
      height: 330px;
      gap: 25px;
    }
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-auto-rows: 0;
    // grid-template-rows: 1fr;
  }
  .list-title {
    position: absolute;
    z-index: 2;
    top: 5px;
  }
}
