.LoginSignUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  // height: 80vh;
  background: #111111;
  border-radius: rem(10px);
  text-align: center;
  padding: 40px;
  box-shadow: 0 0 7px #adadad3d;

  h2,
  button {
    font-family: "gotham-bold";
    margin-bottom: 15px;
  }
  .user-info {
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .input-container {
      width: 80%;
      height: 35px;
      background-color: #3a3a3a;
      align-items: center;
      justify-content: space-around;
      padding-inline-end: 5px;
      border-radius: rem(7px);
    }
    
    input {
        border-radius: rem(7px);
        width: 90%;
      height: inherit;
      background-color: #3a3a3a;
      border: none;
      outline: none;
      color: $clr7;
      // box-shadow: inset 0 0 0 1px rgba(250, 247, 247, 0), inset 0 0 0 100px #3a3a3a;
      
    }

    select:-webkit-autofill:focus {
      border: none;
      -webkit-text-fill-color: $clr7;
      -webkit-box-shadow: 0 0 0px 1000px rgb(161, 44, 44) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    button {
      color: $clr7;
      width: 80%;
      height: rem(45px);
      border-radius: rem(20px);
      background-color: #1aa049;
      font-size: rem(20px);

      &:hover {
        background-color: $clr5;
        transform: scale(1.1);
      }
    }
  }
  .toggle-login {
    margin-top: 20px;

    button {
      color: $clr7;
      font-size: rem(18px);
      text-decoration: underline;
    }
  }
}
