.LoginSignUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  // height: 80vh;
  background: #111111;
  border-radius: rem(10px);
  text-align: center;
  padding: 40px;
  box-shadow: 0 0 7px #adadad3d;
  position: relative;

  .img-input-container {
    width: 120px;
    height: 120px;
    background-color: #3a3a3a;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: center center;
      border-radius: inherit;
    }
  }
  
  h2,
  button {
    font-family: "gotham-bold";
    margin-bottom: 20px;
  }
  .user-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    .input-container {
      width: 80%;
      height: 35px;
      background-color: #3a3a3a;
      align-items: center;
      justify-content: space-around;
      padding-inline-end: 5px;
      border-radius: rem(7px);
    }
    
    input {
      border-radius: rem(7px);
      width: 90%;
      height: inherit;
      background-color: #3a3a3a;
      border: none;
      outline: none;
      color: $clr7;
      background: transparent;
      padding: 0 10px;
    }
    
    input:-webkit-autofill {
      -webkit-text-fill-color: $clr7;
      -webkit-background-clip: text;
    }

    button {
      color: $clr7;
      width: 80%;
      height: rem(45px);
      border-radius: rem(20px);
      background-color: #1aa049;
      font-size: rem(20px);
      text-transform: uppercase;

      &:hover {
        background-color: $clr5;
      }
    }
  }

  h4 {
    position: absolute;
    left: 42%;
    background-color: #111111;
    width: 70px;
  }

  hr {
    margin-bottom: 30px;
  }

  .kep-login-facebook.metro {
    border-radius: rem(20px);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .kep-login-facebook {
    width: 80%;
    height: rem(45px);
    padding: 0;
    background-color: #111111;
    border: 0;
    box-shadow: 0 0 4px #ffffffa3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .f-a-container {
    font-size: rem(18px);
  }

  .toggle-login {
    margin-top: 20px;

    button {
      color: $clr7;
      font-size: rem(18px);
      text-decoration: underline;
    }
  }
}
