.media-player {
  position: fixed;
  bottom: 70px;
  width: 95%;
  height: 60px;
  background-color: $clr4;
  color: $clr2;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
  z-index: 3;

  @include for-mobile-layout {
    left: 2.5%;
    border-radius: 5px;
  }

  @include for-narrow-layout {
    padding: 0 20px;
    background-color: $clr3;
    border-top: $clr4 2px solid;
    bottom: 0;
    height: 100px;
    width: 100%;
  }
  &.hidden {
    transform: translateY(200px);
    @include for-narrow-layout {
      transform: translateY(100px);
    }
  }

  .player-container {
    display: none;
  }

  .player-actions {
    gap: 3px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    max-width: 250px;

    @include for-mobile-layout {
      position: relative;
      bottom: 2px;
    }
    @include for-narrow-layout {
      gap: 10px;
      max-width: 350px;
    }
    @include for-wide-layout {
      max-width: 500px;
    }
    .duration-controller {
      width: 94.5%;
      font-size: 0.8rem;
      @include for-mobile-layout {
        position: fixed;
        bottom: 56px;
        left: 2.75%;
        p {
          display: none;
        }
      }
      @include for-narrow-layout {
        display: flex;
        width: 100%;
      }
      .duration-slider {
        @include for-narrow-layout {
          margin: 0 15px;
        }
        color: $clr2;
        &:hover {
          color: $clr5;
        }
      }
    }

    .action-btn {
      font-size: 1rem;
      color: #b3b3b3;
      &:hover {
        color: $clr7;
      }
      &.green {
        color: $clr5;
        &:hover {
          color: darkgreen;
        }
      }
    }

    .play-btn {
      color: $clr3;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $clr7;
      font-size: 1rem;
      &:hover {
        transform: scale(1.1);
      }
      &.playing {
        text-indent: 3px;
      }
    }
  }

  .song-details {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100px;
    @include for-mobile-layout {
    }
    @include for-narrow-layout {
      width: 200px;
    }
    @include for-wide-layout {
      width: 320px;
    }
    p {
      letter-spacing: -0.08rem;
      font-size: rem(13px);
      color: $clr7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include for-mobile-layout {
        letter-spacing: -0.02rem;
        font-family: gotham-light, rubic;
        position: absolute;
        max-width: 95px;
        bottom: 28px;
        left: 40px;
        color: $clr2;
      }
      @include for-narrow-layout {
        font-size: 1rem;
        max-width: 100px;
      }
      @include for-wide-layout {
        max-width: 190px;
        white-space: normal;
        overflow: unset;
        text-overflow: unset;
      }
    }

    @include for-mobile-layout {
      small {
        display: none;
      }
    }

    .song-actions {
      display: flex;
      width: 30px;
      @include for-mobile-layout {
        position: absolute;
        left: 35px;
        bottom: 0px;
      }
      @include for-wide-layout {
        width: 50px;
      }
      button {
        margin-inline-end: 5px;
        width: 25px;
        color: $clr2;
        font-size: rem(18px);
        @include for-narrow-layout {
          margin-inline-end: 10px;
          font-size: 1.3rem;
        }
        &.btn-liked {
          color: $clr5;
        }
      }
    }
    .artist-img {
      width: 40px;
      height: 40px;

      @include for-mobile-layout {
        position: relative;
        right: 5px;
        bottom: 2px;
      }
      @include for-narrow-layout {
        width: 60px;
        height: 60px;
      }
      img {
        @include for-mobile-layout {
          border-radius: 5px;
        }
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .volume-controller {
    width: 20px;
    margin-inline-end: 10px;
    @include for-narrow-layout {
      margin-inline-end: 0;
      gap: 10px;
      width: 100px;
    }
    @include for-wide-layout {
      min-width: 150px;
      padding-inline-end: 20px;
    }

    button {
      color: $clr2;
      font-size: 1.3rem;
      width: 30px;
    }
    .volume-slider {
      display: none;
      color: $clr2;
      @include for-narrow-layout {
        display: unset;
        width: 100%;
        &:hover {
          color: $clr5;
        }
      }
    }
  }
}
