.nav-bar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: #000;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  .nav-list {
    margin-top: 2rem;
    padding-bottom: 40px;
    border-bottom: 2px solid gray;
    position: relative;
    bottom: 40px;
    li {
      font-family: gotham;
      font-weight: 900;
      font-size: 0.9rem;
      color: inherit;
      background-color: inherit;
      border-radius: 0.5rem;
      // font-family: gotham-bold;
      transition: 0.25s;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 1rem;
      &:hover {
        font-weight: 900;
        color: $clr7;
        cursor: pointer;
        text-shadow: 0 0 2px $clr7;
      }

      .symbol {
        font-size: rem(22px);
        width: 26px;
      }
    }

    a {
      color: $clr2;
      &.chosen {
        font-weight: 900;
        color: $clr7;
        background-color: $clr4;
      }
    }
  }
  .logo {
    margin-inline-start: 50px;
  }
}
