.SeacrchPageFilter {
    margin-top: 20px;
    margin-bottom:40px;

    .input-container {
        width: rem(400px);
        height: rem(40px);
        border-radius: 18px;
        background-color: $clr7;
        
        .search-btn{
            color: rgba(0, 0, 0, 0.637);
            font-size:rem(20px);
        }

        input {
            width: 90%;
            height: inherit;
            border-radius: inherit;
            outline: none;
            margin-inline-start: 7px;
            border: none;
            font-size:rem(16px);
        }
    }
}
