.SeacrchPageFilter {
  margin-bottom: 20px;
  .input-container {
    position: fixed;
    z-index: 3;
    top: 11px;
    left: 17.5%;
    width: 65%;
    height: 40px;
    border-radius: 2rem;
    background-color: $clr7;
    @include for-narrow-layout {
      left: 250px;
      width: 300px;
    }
    @include for-wide-layout {
      left: 300px;
      width: 400px;
    }
    .search-btn {
      position: relative;
      left: 5px;
      top: 1px;
      color: rgba(0, 0, 0, 0.637);
      font-size: 20px;
      transform: rotate(90deg);
    }

    input {
      width: 70%;
      height: inherit;
      border-radius: inherit;
      outline: none;
      margin-inline-start: 7px;
      border: none;
      font-size: rem(16px);
      &::-webkit-search-cancel-button {
        position: relative;
        right: 0px;
        cursor: pointer;
      }
      @include for-narrow-layout {
        width: 85%;
      }
    }
  }
}
