.hero-container {
  background-color: $bgc3;
  .linear-container {
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
  }
}

.StationHero {
  height: 280px;
  position: relative;

  .img-container {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    padding: 5px;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      object-position: center center;
      box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    }
  }

  @include for-wide-layout {
    height: 330px;
    .img-container {
      height: 250px;
      width: 250px;
    }
  }
}

.info-container {
  height: 182px;
  position: absolute;
  bottom: 26px;
  left: 250px;
  @media (max-width: 1270px) {
    bottom: -14px;
  }
  
  @include for-wide-layout {
    left: 300px;

  }
  h5 {
    text-transform: uppercase;
    letter-spacing: rem(-0.7px);
  }

  .hero-title {
    text-indent: -6px;
    font-size: rem(100px);
    font-family: gotham-bold;
    letter-spacing: -5px;
  }
  @media (max-width: 1270px) {
    .hero-title {
      font-size: rem(65px);
      font-family: gotham-bold;
      letter-spacing: -3px;
    }
  }

  p {
    margin-bottom: rem(15px);
  }

  .station-maker {
    margin-top: rem(20px);
  }
}

