.actions-container {
  background-color: $bgc3;
  margin-bottom: 20px;

  .linear-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
  }

  .StationActions {
    height: rem(170px);
    border-bottom: 1px solid rgba(252, 250, 250, 0.377);
    position: relative;

    .btns-actions {
      width: rem(400px);
      height: rem(70px);
      position: absolute;
      top: rem(28px);
      align-items: center;
      gap: 30px;

      .play-btn {
        color: $clr7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(50px);
        height: rem(50px);
        line-height: 50px;
        border-radius: 50%;
        background-color: $clr5;
        font-size: 1.1rem;
        &.fa-play {
          text-indent: 3px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }

      .add-track-btn {
        position: relative;
        top: 1px;
        margin-inline-start: 6px;
        display: inline-block;
        padding: 2px 4px;
        text-align: center;
        border-radius: 2rem;
        cursor: pointer;
        border: 3.5px solid $clr8;
        font-size: rem(18px);
        font-family: gotham-bold;
        color: $clr8;
        transition: width 0.5s;
        .btn-text {
          color: $clr8;
          max-width: 0;
          display: inline-block;
          transition: max-width 0.7s;
          vertical-align: top;
          white-space: nowrap;
          overflow: hidden;
          text-indent: 5px;
        }
        &:hover {
          border: 3.5px solid $clr7;
          color: $clr7;
          max-width: 300px;
          .btn-text {
            color: $clr7;
            max-width: 200px;
          }
        }
      }

      .btn-action {
        font-size: rem(30px);
        color: $clr8;
        &:hover {
          color: $clr7;
        }
        &.fa-arrow-alt-circle-down {
          position: relative;
          top: 2px;
        }
      }

      .btn-liked {
        color: $clr5;
        &:hover {
          color: $clr5;
        }
      }
    }

    .preview-info {
      width: 100%;
      position: absolute;
      bottom: 20px;
      text-transform: uppercase;
      justify-content: space-between;
      text-align: center;

      .info-title {
        flex: 4;
        width: 250px;
        text-align: left;
        text-indent: 39px;
        @include for-wide-layout {
          flex: 5;
          width: 410px;
        }
      }

      .info-date {
        display: none;
        @include for-wide-layout {
          flex: 2;
          display: unset;
          min-width: 120px;
          text-align: center;
        }
      }

      .info-duration {
        flex: 1;
        width: 100px;
      }

      .duration {
        font-size: rem(17px);
      }

      .title,
      .date,
      .duration {
        color: #ffffffa8;

        &:hover {
          cursor: pointer;
          color: $clr7;
        }
      }
    }
  }
}
