.station-preview {
  position: relative;
  min-width: 145px;
  max-width: 145px;
  height: 200px;
  background-color: inherit;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s ease;
  font-family: gotham, rubic;
  cursor: pointer;

  @include for-narrow-layout {
    padding: 14px;
    font-family: gotham-bold, rubic;
    background-color: $clr3;
    min-width: 180px;
    height: 240px;
  }

  @include for-wide-layout {
    padding: 20px;
    width: 200px;
    max-width: 220px;
    height: 280px;
  }

  .station-img {
    position: relative;
    height: 85%;
    width: 100%;
    .play-btn {
      display: none;
      @include for-narrow-layout {
        display: unset;
        opacity: 0;
        position: absolute;
        text-align: center;
        background-color: $clr5;
        height: 42px;
        line-height: 42px;
        width: 42px;
        border-radius: 50%;
        transition: 0.4s;
        bottom: 20px;
        right: 10px;
        &.fa-pause {
          bottom: 35px;
          opacity: 1;
        }
        &:hover {
          transform: scale(1.1);
        }
      }

      @include for-wide-layout {
        bottom: 24px;
        right: 15px;
        height: 50px;
        line-height: 50px;
        width: 50px;
        &.fa-pause {
          bottom: 48px;
        }
      }
    }

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      border-radius: 0.4rem;
      box-shadow: 0 3px 30px 1px black;
    }

    @include for-narrow-layout {
      .img {
        border-radius: 1rem;
      }
    }
  }
  @include for-narrow-layout {
    &:hover {
      background-color: $clr4;
      .station-img {
        .play-btn {
          bottom: 35px;
          opacity: 1;
          @include for-wide-layout {
            bottom: 48px;
          }
        }
      }
    }
  }

  .station-img-city {
    height: 82%;
    width: 100%;

    img {
      width: inherit;
      height: inherit;
      border-radius: 50%;
    }
  }

  .station-like {
    position: absolute;
    bottom: 20px;
    left: 0px;
    &.city {
      @include for-mobile-layout {
        bottom: 25px;
      }
    }
    @include for-narrow-layout {
      bottom: 5px;
      right: 10px;
      left: unset;
    }

    @include for-wide-layout {
      font-size: 1.2rem;
      bottom: 10px;
      right: 20px;
    }
    button {
      color: $clr2;
      font-size: 1rem;
      &:hover {
        color: $clr7;
      }
      &.green {
        color: $clr5;
        &:hover {
          color: darkgreen;
        }
      }
    }
    h2 {
      font-size: rem(8px);
      text-align: center;
      font-family: gotham-light;
      color: $clr2;
      @include for-narrow-layout {
        position: relative;
        right: 0.5px;
      }
      @include for-wide-layout {
        font-size: rem(10px);
      }
    }
  }

  .station-info {
    position: relative;
    top: -15px;
    @include for-mobile-layout {
      left: 25px;
      max-width: 105px;
    }
    h1 {
      letter-spacing: 0.5px;
      font-size: 0.9rem;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      position: relative;
      bottom: 5px;
      font-family: gotham;
      color: $clr2;
      font-size: rem(11px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include for-wide-layout {
      top: -15px;
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: rem(13px);
      }
    }
  }
}

.station-search-preview {
  width: 220px;
}
