.tracks-list {
  margin-top: 20px;
  .btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 60px;
    @include for-wide-layout {
      min-width: 100px;
    }
    .add-button {
      border: 2px solid rgba(255, 255, 255, 0.123);
      border-radius: 30px;
      color: #ffff;
      max-width: 80px;
      font-size: 16px;
      font-family: gotham-light;
      padding: 4px 15px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-inline-end: 10px;
      @include for-narrow-layout {
        padding: 8px 20px;
        &:hover {
          border: 1px solid seashell;
          transform: scale(1.08);
        }
      }
    }
    @include for-wide-layout {
      .add-button {
        padding: 8px 28px;
        max-width: 100px;
        margin-inline-end: 0;
      }
    }
  }
  .track-container {
    @include for-narrow-layout {
      &:hover {
        .add-button {
          border: 2px solid seashell;
        }
      }
    }
    @include for-mobile-layout {
      .add-button {
        border: 2px solid seashell;
      }
    }

    .duration-info {
      display: none;
      @include for-narrow-layout {
        display: unset;
        margin-inline-end: 20px;
        flex: 1;
        width: 20px;
        display: unset;
        text-align: center;
      }
      @include for-wide-layout {
        flex: 2;
        width: 100px;
      }
    }
  }

  .SuggestPreview {
    img {
      border-radius: 50%;
    }
  }
}
