.TrackSearch {
  min-height: 70vh;
  position: relative;
  padding-bottom: 100px;
  h4 {
    padding: 15px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  h2 {
    padding-top: rem(90px);
    line-height: rem(90px);
  }
  .refresh-btn {
    font-family: gotham-light;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 33px;
    bottom: 60px;
    font-size: rem(13px);
    color: $clr7;
    &:hover {
      transform: scale(1.1);
    }
  }

  .search-header-container {
    border-top: 1px solid $clr2;
    margin-top: 70px;
    width: 100%;
    h2 {
      padding-top: 0;
    }
    .close-button {
      color: #ffff;
      background-color: none;
      font-size: 1.3rem;
      padding: 5px 10px;
      border-radius: 10px;
      font-family: gotham-light;
    }
  }
  .search-Warrper {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 4px;
    color: rgba(184, 179, 179, 0.7);
    height: 40px;
    padding: 8px 10px;
    max-width: 550px;
    button {
      justify-self: flex-start;
      padding: 10px 12px;
      color: $clr7;
      // pointer-events: none;
    }
    .search-input {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      font-size: 1rem;
      color: #ffff;
      width: 100%;

      &:focus {
        outline: 0;
      }
    }
  }
}
