.track-container {
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  &.search {
    max-width: 100%;
  }
  @include for-narrow-layout {
    &:hover {
      background-color: rgba(255, 255, 255, 0.123);
    }
  }
  .TrackPreview {
    align-items: center;
    width: 200px;
    margin: 10px;
    flex: 4;

    @include for-narrow-layout {
      flex: 5;
      width: 250px;
    }
    @include for-wide-layout {
      flex: 5;
      width: 410px;
    }
    .green {
      color: $clr5;
    }
    .track-img-container {
      height: rem(40px);
      width: rem(40px);
      margin-inline-end: 10px;
      img {
        width: rem(40px);
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .play-btn {
      width: 15px;
      padding: 5px;
      height: 30px;
      margin-inline-end: 15px;
      color: $clr7;
    }

    .num-idx {
      position: relative;
      width: 15px;
      padding: 5px;
      margin-inline-end: 15px;
      .audio-container {
        position: absolute;
        bottom: -5px;
        left: 2px;
      }
    }

    .track-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .track-date {
    display: none;
    @include for-wide-layout {
      flex: 2;
      display: unset;
      min-width: 100px;
      text-align: center;
    }
  }

  .preview-actions {
    flex: 1;
    justify-self: flex-end;
    gap: 10px;
    display: flex;
    justify-content: center;
    min-width: 80px;
    margin-inline-end: 10px;

    @include for-mobile-layout {
      padding-left: 30px;
    }

    @include for-narrow-layout {
      min-width: 100px;
      margin-inline-start: 20px;
    }

    @include for-wide-layout {
      margin-inline-start: 0;
      max-width: 120px;
    }
    .btn-like,
    .btn-liked,
    .btn-remove {
      font-size: rem(15px);
      color: $clr7;
      padding: 0 5px;
    }

    .btn-remove {
      font-size: rem(13px);
    }

    .btn-liked {
      color: $clr5;
    }

    .btn-hidden {
      visibility: hidden;
    }
    p {
      min-width: 35px;
    }

  }
}
