.track-container {
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.123);
  }

  .TrackPreview {
    align-items: center;
    width: 450px;
    margin: 10px;

    .track-img-container {
      height: 40px;
      width: 40px;
      margin-inline-end: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .play-btn {
      width: 15px;
      margin-inline-end: 15px;
      color: $clr7;
    }

    .num-idx{
      width: 15px;
      margin-inline-end: 15px;
    }

    .track-title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .track-date {
    width: 200px;
    text-align: center;
  }
  
  .preview-actions {
    margin-inline-end: 20px;
    gap: 10px;
    display: flex;
    width: 100px;

    .btn-like,
    .btn-remove {
      color: $clr7;
    }

    .btn-liked{
      color: $clr5;
    }

    .btn-hidden{
      visibility: hidden;
    }

    .track-duration{
      margin: auto;
    }
  }
}
