.track-container {
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  &.search {
    max-width: 100%;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.123);
  }

  .TrackPreview {
    align-items: center;
    width: 450px;
    margin: 10px;
    .green {
      color: $clr5;
    }
    .track-img-container {
      height: rem(40px);
      width: rem(40px);
      margin-inline-end: 10px;
      img {
        width: rem(40px);
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .play-btn {
      width: 15px;
      padding: 5px;
      height: 30px;
      margin-inline-end: 15px;
      color: $clr7;
    }

    .num-idx {
      position: relative;
      width: 15px;
      margin-inline-end: 15px;
      img {
        position: absolute;
        width: 170%;
        top: -35px;
        left: -7px;
        height: 70px;
        object-fit: cover;
      }
    }

    .track-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .track-date {
    width: 200px;
    text-align: center;
  }

  .preview-actions {
    margin-inline-end: 20px;
    gap: 10px;
    display: flex;
    width: 100px;

    .btn-like {
      font-size: rem(15px);
      color: $clr7;
      padding:0 5px;
    }

    .btn-remove {
      font-size: rem(13px);
      color: $clr7;
      padding:0 5px;
    }

    .btn-liked {
      font-size: rem(15px);
      color: $clr5;
      padding: 0 5px;
    }

    .btn-hidden {
      visibility: hidden;
    }

    .track-duration {
      margin: auto;
    }
  }
}
