.liked-list-container {
  margin-bottom: 50px;

  @include for-mobile-layout {
    padding-top: 5px;
    margin-bottom: 15px;
    width: 100vw;
    grid-auto-flow: column;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include for-narrow-layout {
    padding: 0 20px;
  }
  @include for-wide-layout {
    padding: 0;
  }
  h1 {
    font-family: gotham-bold;
    font-size: rem(21px);
    margin-bottom: 20px;
    position: relative;
    bottom: 10px;
    padding-top: 10px;
  }
  .PopularStationsList {
    gap: 15px;
    margin-bottom: 30px;
    grid-template-columns: repeat(4, 250px);
    @include for-narrow-layout {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
    @include for-wide-layout {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }
}

.most-liked-preview {
  height: 80px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: #3d3d3d;
  }

  .station-label {
    width: 10px;
    height: 100%;
  }

  .play-btn {
    display: none;
  }

  .station-info {
    h1 {
      position: absolute;
      top: 5px;
      left: 7%;

      @include for-mobile-layout {
        font-family: gotham;
        font-size: rem(17px);
        max-width: 150px;
      }
      @include for-narrow-layout {
        left: 4%;
      }
    }
    p {
      display: none;
    }
  }

  .station-like-container {
    position: absolute;
    right: 31%;
    bottom: 2px;

    .station-like {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 50px;
      gap: 3px;
      @include for-mobile-layout {
        position: relative;
        left: 10px;
        bottom: 2px;
      }
      h2 {
        color: #acacac;
        font-size: rem(10px);
        @include for-mobile-layout {
          position: relative;
          top: 1px;
        }
        @include for-narrow-layout {
          font-size: rem(12px);
        }
      }
      button {
        color: #acacac;
        font-size: rem(15px);
        padding: 0;
        @include for-narrow-layout {
          font-size: rem(20px);
        }
        &.green {
          color: $clr5;
          &:hover {
            color: darkgreen;
          }
        }
      }
    }
  }

  .station-img {
    position: relative;
    height: 100%;
    width: 30%;
    order: 1;
    img {
      height: inherit;
      width: 100%;
      object-fit: cover;
    }
  }
}
