.GenrePage {
  padding: 0 20px 0;
  @include for-wide-layout {
    padding: 0 40px 0;
  }
  .genre-title {
    font-size: rem(40px);
    font-family: gotham-bold;
  }

  .genre-subtitle {
    color: $clr2;
    margin-inline-start: 2px;
  }
}
