.GenrePage {
  padding: 0 10px 0;
  @include for-narrow-layout {
    padding: 0 20px 0;
  }
  @include for-wide-layout {
    padding: 0 40px 0;
  }
  .genre-title {
    font-size: rem(40px);
    font-family: gotham-bold;
  }

  .genre-subtitle {
    color: $clr2;
    margin-inline-start: 2px;
    font-size: rem(13px);
    @include for-narrow-layout {
      font-size: rem(16px);
    }
  }
}
