* {
  box-sizing: border-box;
}

body {
  background-color: $clr1;
  margin: 0;
  color: $clr7;
  font-family: gotham-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  //   border: 0;
  //   background-color: transparent;
  cursor: pointer;
}

a {
  color: $clr7;
  text-decoration: none;
  font-family: gotham-bold;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.logo {
  width: 50px;
  display: flex;
  align-items: center;
  img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(323deg)
      brightness(107%) contrast(102%);
    height: inherit;
    width: inherit;
  }

  h1 {
    font-family: gotham;
    text-align: center;
    font-size: 1rem;
    position: relative;
    bottom: 5px;
    color: #93ebb2;
    position: relative;
    top: 7px;
  }
  p {
    position: relative;
    top: 6px;
    font-size: 0.73rem;
  }
}
