@font-face {
  font-family: gotham;
  src: url("../../fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../../fonts/Gotham-Font/GothamBold.ttf");
}

@font-face {
  font-family: gotham-light;
  src: url("../../fonts/Gotham-Font/GothamLight.ttf");
}
