@font-face {
  font-family: gotham;
  src: url("../../fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../../fonts/Gotham-Font/GothamBold.ttf");
}

@font-face {
  font-family: gotham-light;
  src: url("../../fonts/Gotham-Font/GothamLight.ttf");
}

@font-face {
  font-family: rubic;
  src: url("../../fonts/rubic/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: logo;
  src: url("../../fonts/logo-font/BerkshireSwash-Regular.ttf");
}

@font-face {
  font-family: logo2;
  src: url("../../fonts/logo-font/Comfortaa-VariableFont_wght.ttf");
}
