// Colors
$clr1: #121212;
$clr2: #acacac;
$clr3: #282828;
$clr4: #1db954;
$clr5: #13293d;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
