// Colors
$clr1: #121212;
$clr2: #acacac;
$clr3: #181818;
$clr4: #282828;
$clr5: #1db954;
$clr6: #13293d;
$clr7: #fff;
$clr8: #ffffff61;

// bgcs
$bgc1: rgb(213, 136, 31);
$bgc2: rgb(84, 84, 84);
$bgc3: rgb(80, 155, 245);

// Breakpoints
$mobile-breakpoint: 680px;
$normal-breakpoint: 990px;
